.DisplayVideo {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lightgray;
}

.Label {
  flex-direction: column;
  padding: 10px;
  /* align-items: center; */
}

input {
  border-style: ridge;
  width: 400px;
}

.comment1 {
  /* width: 371px; */
}

iframe {
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: none;
}

#go-back-button {
  width: 100%;
  /* background-color: red; */
}

#submit-button {
  width: 100%;
  /* background-color: red; */
}

button {
  background-color: black;
  border: 1px solid red;
  margin: 20px;
  padding: 7px;
  border-radius: 10px;
  color: white
}

input{
    border:none
}
