
.list {
  list-style: none;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.fix_title {
  width: 280px;
  height: 75px;
  align-items: center;
}

.Link {
  color: black;
}

.thumbnails {
  height: 180px;
  width: 320px;
}

.video_title {
  width: 320px;
  font-size: 12px;
  font-weight: 500;
}
